.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#000;

}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1{
  color:#fff;
}

.main p{
  color:#fff;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.main input{
  width: 400px;
  height: 40px;
  padding-left: 8px;
  border:0;
  border-radius: 8px;
  color:#1a1a1a;
}

.main button{
  margin: 20px 0;
  width:200px;
  height: 40px;
  border: 0;
  font-size: 15px;
  color:#fff;
  font-weight:300;
  background:rgb(189, 45, 69);
  border-radius: 8px;
  outline: 0;
}

.main  > a{
  color:#fff;
  margin: 20px 0;
  font-size: 23px;
  line-height: 33px;
  transition: all 2s ease-out;
  width: 230px;
  text-align: center;
  padding: 10px 0;
  background:rgb(189, 45, 69);
  text-transform: uppercase;
}
.main > a:hover{
  letter-spacing:  2px;
}


.main ul{
  width:100%;
  max-width: 1200px;
  display: flex;
  flex-flow: wrap;
  list-style: none;
  margin: 40px  auto;

}

.main li{
  display: inline-block;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  box-shadow:  0 0 10px #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.8s ease-out;
}

.main li:hover{
  transform: scale(1.1)
}

.main li a{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main li span{
  width: 230px;
  color:#fff;
  font-weight: 500;
  padding-bottom: 8px;
}
